.col {
    margin-top: 15px;
    margin-bottom: 15px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    border-radius: 10px;
}

.serchBar {
    width: 40%;
}

.cardContainer {
    margin-top: 10px;

}

.headerRow {
    margin-bottom: 10px;
}

.deleteBtn {
    /* margin-bottom: 10px; */
    margin-right: 25px;
    /* padding-left: 30px; */
}